.bg-primary {
  @include themify() {
    background-color: themed(primary);
    border-color: themed(primary);
    color: themed(textDark);
  }
}

.bg-secondary {
  @include themify() {
    background-color: themed(background6);
    border-color: themed(background6);
    color: themed(textDark);
  }
}

.bg-danger {
  @include themify() {
    background-color: themed(danger);
    border-color: themed(danger);
    color: themed(textLight);
  }
}
