$themes: (
  dark: (
    backgroundColor1: #191f22,
    backgroundColor2: #141b1e,
    backgroundColor3: #12181b,
    backgroundColor4: #252b2e,
    textColor1: #c4c4c4,
    textColor2: #ffffff,
    textColor3: #000000,
    accent1: #374348,
    accent2: #e5e5e5,
    theme1: #46d9ad,
    secondary: #f0f0f0,
    danger: #dc3545,
  ),
);
