
$themes: (
    dark: (
        backgroundColor1: #191F22,
        backgroundColor2: #141B1E,
        backgroundColor3: #12181B,
        backgroundColor4: #252B2E,
        textColor1: #C4C4C4,
        textColor2: #FFFFFF,
        accent1: #374348,
        accent2: #E5E5E5
    )
);