.dropdown {
  position: relative;

  &__control {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    @include themify() {
      color: themed(text);
    }
  }

  &__menu {
    position: absolute;
    right: 0;
    padding: 2rem 0;
    min-width: 20rem;
    border-radius: $border-radius;
    z-index: 2;

    @include themify() {
      background-color: themed(background4);
      color: themed(text);
    }
  }

  &__list {
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.6rem 2rem;

    &:last-of-type {
      border-bottom: 0;
    }
  }
}
