.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__img {
    width: 4rem;
    height: 4rem;
    margin-right: 0.5rem;
  }

  &__title {
    font-size: clamp(2.2rem, 1.4vw, 3.8rem);

    @include themify() {
      color: themed(textActive);
    }
  }
}
