.app.theme-dark {
  --background-color-1: #12181b;
  --background-color-2: #141b1e;
  --background-color-3: #191f22;
  --background-color-4: #252b2e;
  --background-color-5: #374348;
  --background-color-6: #e5e5e5;
  --text-color: #c4c4c4;
  --text-color-active: #ffffff;
  --text-color-light: #f6f6f6;
  --text-color-dark: #141b1e;
  --color-primary: #46d9ad;
  --color-danger: #dc3545;
  --color-warning: #eb9c53;
}

.app.theme-light {
  --background-color-1: #e6e6e6;
  --text-color: #555555;
}
