// both the login & player pages are laid out differently so .page simply sets
// the shared styles between them

.page {
  height: 100vh;

  @include themify() {
    background-color: themed(background1);
    color: themed(text);
  }
}
