.main {
  position: relative;
  height: 92%;
  display: grid;
  grid-template-columns: 1fr;

  @media all and (min-width: 768px) {
    grid-template-columns: minmax(25rem, 1fr) 5fr;
  }

  &__sidebar {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: 0.1s ease-in;
    margin-left: -100%;

    &--open {
      margin-left: 0;
    }

    @include themify() {
      background-color: themed(backgroundColor3);
    }

    @media all and (min-width: 768px) {
      position: relative;
      margin-left: 0;
    }
  }

  &__body {
    z-index: 1;

    @include themify() {
      background-color: themed(backgroundColor1);
    }
  }
}
